<aside class="aside-profile">
	{{#aside}}
		 <div class="aside-in">
				<div class="aside-title">{{mainTitle}}</div>
				<figure class="userThumb">
					<img src="assets/img/{{avatar}}" alt="">
					<figcaption>
						{{avatarName}}
					</figcaption>					
				</figure><!-- //userThumb -->

				<div class="userProf-button">
					{{~#buttons}}
						<a href="#" class="btn-grey">{{.}}</a>
					{{~/buttons}}
				</div><!-- //userProf-button -->

				<div class="userProf-stat">
					<table class="table">
						<tr>
							<td><span class="iconLoc icon-map"></span></td>
							<td align="right"><span class="rightext">Bandung</span></td>
						</tr>
						<tr>
							<td><span class="iconLoc icon-eye">Views</span></td>
							<td align="right"><span class="rightext">100</span></td>
						</tr>
						<tr>
							<td><span class="iconLoc icon-list">Done</span></td>
							<td align="right"><span class="rightext">80</span></td>
						</tr>
						<tr>
							<td><span class="iconLoc icon-rate">Ratings</span></td>
							<td align="right"><span class="rightext">4/5</span></td>
						</tr>
					</table>
				</div>

				<div class="userProf-share">
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-youtube"></a>
					<a href="#" class="fa fa-instagram"></a>
				</div>
		</div>
	{{/aside}}
</aside><!-- //asideLeft -->