<footer id="footer">
	<div class="merchant">
		<div class="container">
			<ul>
				<li class="merchant-item"><img src="assets/img/marchant.png" alt=""></li>
				<li class="merchant-item"><img src="assets/img/marchant.png" alt=""></li>
				<li class="merchant-item"><img src="assets/img/marchant.png" alt=""></li>
				<li class="merchant-item"><img src="assets/img/marchant.png" alt=""></li>
			</ul>
		</div>
	</div> <!-- //merchant -->

	<div class="container">
		<div class="row">
			<div class="footLeft">
				<div class="inside">
					<figure class="footlogo">
						<img src="assets/img/logo.png" alt=""> 
					</figure>
					<p class="copyrt">&copy;Copyright 2015 brand1</p>
					<p class="footleft__link">
						<a href="#">Link 1</a>
						<a href="#">Link 2</a>
					</p>
					<div class="userProf-share">
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-youtube"></a>
						<a href="#" class="fa fa-instagram"></a>
					</div>
				</div>
			</div><!-- FootLeft -->

			<div class="footRight">
				{{~#footwidget}}
				<div class="footwdg">
					<h5>{{title}}</h5>
					<ul>
						{{~#list}}
							<li><a href="#">{{.}}</a>
						{{~/list}}
					</ul>
				</div>
				{{~/footwidget}}
			</div> <!-- //footRight -->
		</div>
	</div>
</footer> <!-- //FOOTER -->
