  <header id="header">
  	<div class="container">
  		<div class="header-left">
	  		<div id="logo"><a href="#"><img src="assets/img/logo.png" alt=""></a></div>
	  		
  			<div class="dropdown">
  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Menu
  					<i class="fa fa-angle-down"></i>
  				</button>
  				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  					<li><a href="#">Action</a></li>
  					<li><a href="#">Another action</a></li>
  					<li><a href="#">Something else here</a></li>
  					<li><a href="#">Separated link</a></li>
  				</ul>
  			</div> <!-- //dropdown -->

			{{>navigation}}
  		</div><!-- //header-left -->

  		<div class="header-right">
  			   <div class="search-box">
                <form>
                    <div class="form-control-wrapper">
                        <input type="search" class="form-control" id="search" placeholder="Search">
                    </div>
                </form>
            </div> <!-- //search-box  -->

           	<div class="user-area">
           		<a href="#" class="user-areaLink">Menu6</a>
           		<a href="#" class="btn-turquoise">Daftar</a>
           	</div>
  		</div><!-- //header-right -->
  	</div>
  </header> <!-- HEADER -->


  
