<section class="hero">
	<!-- <ul class="bxslider bxslide">
		<li style="background-image: url('assets/img/slider/slide1.jpg')"></li>
		<li style="background-image: url('assets/img/slider/slide2.jpg')"></li>
		<li style="background-image: url('assets/img/slider/slide1.jpg')"></li>
		<li style="background-image: url('assets/img/slider/slide2.jpg')"></li>
	</ul> -->

	<div id="full-width-slider" class="royalSlider heroSlider rsMinW">
		  <div class="rsContent">
		    <img class="rsImg" src="assets/img/slider/slide1.jpg" alt="">
		  </div>
		  <div class="rsContent">
		    <img class="rsImg" src="assets/img/slider/slide2.jpg" alt="">
		  </div>
		 <div class="rsContent">
		    <img class="rsImg" src="assets/img/slider/slide1.jpg" alt="">
		  </div>
		  <div class="rsContent">
		    <img class="rsImg" src="assets/img/slider/slide2.jpg" alt="">
		  </div>
	</div><!-- //full-width-slider -->
	<div class="container">
		<div class="hero-tabs">
	        <div id="tabs_container">
	            <ul id="tabs">
	                <li class="active"><a href="#tab1">Search 1</a></li>
	                <li><a href="#tab2">Search 2</a></li>
	            </ul>
	        </div>
	        <div id="tabs_content_container">
	            <div id="tab1" class="tab_content" style="display: block;">
	            	<div class="f-srcbox">
	            		<div class="form-group">
	            			<input type="text" class="form-control" placeholder= "Search">
	            		</div>
	            		<div class="form-group">
	            			<input type="text" class="form-control" placeholder= "City">
	            		</div>
	            		<div class="form-group">
							<select class="form-control">
								<option>Category</option>
								<option> Category 2</option>
								<option>Category 3</option>
								<option>Category 4</option>
								<option>Category 5</option>
							</select>
	            		</div>
	            		<div class="form-group">
	            			<input type="submit" class="btn-turquoise-flat" value="Cari">
	            		</div>
	            	</div>
	            </div>
	            <div id="tab2" class="tab_content">
	              	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto.</p>
	            </div>
	        </div>
	    </div><!-- Hero Tabs -->
    </div>
</section>