<nav class="nav">
    <div class="contaianer">
    	<ul>
    		<li {{#is basename 'index'}} class="active" {{/is}}><a href="index.html">Menu 1</a></li>
            <li><a href="">Menu 2</a>
              <ul>
                <li><a href="">Blogs</a> </li>
                <li><a href="">Training eBooks</a> </li>
                <li><a href="">Newsletters</a></li>
                <li><a href="">Webinars</a></li>
                <li><a href="">How-To Tutorials</a></li>
                <li><a href=""> Sample Training Videos</a></li>
              </ul>
            </li>
            <li><a href="">Menu 3</a></li>
    	</ul>
    </div>
</nav><!-- //Navigation -->
<a href="javscript:void(0)" class="btn-rwd-sidebar"><i class="fa fa-bars"></i></a>