<div id="main" role="main" >
	<div class="container">
		{{>breadcrumb}}
		
		<div class="row">
			<aside class="aside-profile">
				<h2 class="title-side-md text-right">Apply Tender</h2>
			</aside>
			<div class="content-right">
				<div class="content-right-in">
					<div class="side-avatar">
						<figure>
							<img src="assets/img/avatar.png" alt="">
						</figure>
					</div>

					<div class="tenderdesc">
						<header class="header-post">
							<h2 class="tile-sm">Title Lorem Ipsum Dolor sit Amet</h2>
							<p class="meta-title">
								oleh <a href="#">Lorem Ipsum </a>,18 September 2015
							</p>
						</header> <!-- //header-post -->

						<article class="content-text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan vehicula sem, eu maximus dol  Pellentesque blandit neque sed ante laoreet, a porta dui interdum. Maecenas sed sollicitudin eros. erim ac lorem blandit, eget mattis velit pharetra. Sed convallis neque quis mattis ullamcorper. Nulla sodal so Maecenas varius non dui vitae porttitor. Integer luctus lorem et mi gravida, et venenatis tortor pulvin  Duis quis dignissim dolor, in viverra libero. Maecenas consectetur eget erat in fringilla. Vivamus moleda tiam urna nisi, tincidunt a erat at, dapibus faucibus tortor. Aenean velit eros, accumsan vitae interdu sea </p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan vehicula sem, eu maximus dol  Pellentesque blandit neque sed ante laoreet, a porta dui interdum. Maecenas sed sollicitudin eros. erim ac lorem blandit, eget mattis velit pharetra. </p>
						</article>
						<div class="space15"></div>
						<div class="tag-wrap">
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
						</div>
						<div class="tender-detail">
							<ul>
								<li><i class="fa fa-credit-card"></i><span>15 Worker</span></li>
								<li><i class="fa fa-clock-o"></i> <span>1 Day,  4 Hours</span></li>
								<li><i class="fa fa-money"></i> <span>Rp. 1.500.000</span></li>
								<li><i class="fa fa-folder-o"></i> <span>Web developer</span></li>
								<li></li>
								<li></li>
							</ul>
						</div>

						<div class="tender-apply">
							<form name="form">
								<div class="form-half">
									<div class="form-group">
										<label class="label">Apply for</label>
										<select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									</div>
									<div class="form-group budgetfield">
										<label class="label">Budget</label>
										<div class="clearfix"></div>
										<div class="rp-icon">
											<span class="rp-icontext">Rp.</span>
											<div class="input-rp">
												<input type="text" class="form-control input-sm">
												<span class="zerotow">0,00</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="form-group">
									<label class="label">Description </label>	
									<textarea class="form-control" rows="5"></textarea>	
								</div>
								<div class="attachfile">
									<a href="#">+ Attach Files </a>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<input type="checkbox" value="" id="cxbox">
										<label for="cxbox"><span></span>Save this card</label>
									</div>
								</div>
								<div class="form-group text-right">
									<button type="button" class="btn-turquoise-flat">Cancel</button>&nbsp;&nbsp;
									<input type="submit" class="btn-turquoise-flat" value="Apply">
								</div>
							</form>
						</div><!-- //tender-apply -->

					</div> <!-- //tenderdesc -->
				</div>
			</div><!-- //content-right -->
		</div>
   	</div>
</div> <!-- //MAIN -->
  