<div id="main" role="main" >
	<div class="container">
		{{>breadcrumb}}
		
		<div class="row">
			<aside class="aside-profile">
				{{#aside}}
					<div class="aside-in">
						<div class="aside-title">{{mainTitle}}</div>
						<figure class="userThumb">
							<img src="assets/img/{{avatar}}" alt="">
							<figcaption>
								{{avatarName}}
								<small>Web Designer </small>
							</figcaption>					
						</figure><!-- //userThumb -->
						<hr>
						<div class="content-text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum lacus non sapien ornare, quis vehicula orci pulvinar. Maecenas malesuada tortor at vulputate tristique.<a href="#">Lihat lebih </a></p>
						</div>
						<div class="space15"></div>
						<div class="userProf-stat">
							<table class="table">
								<tr>
									<td><span class="iconLoc icon-map">Indonesia , Jakarta</span></td>
								</tr>
								<tr>
									<td><span class="iconLoc icon-rate">4 / 5</span></td>
								</tr>
							</table>
						</div>
						<div class="tag-wrap">
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
							<a class="tag-text">tag</a>
						</div>
					</div>
				{{/aside}}

				<div class="aside-in">
					<div class="userProf-button">
						<a href="#" class="btn-turquoise-round btn-full">Message</a>
						<a href="#" class="btn-turquoise-round btn-full">Price List</a>
						<a href="#" class="btn-grey btn-full">Email</a>
						<a href="#" class="btn-grey btn-full">Telepon</a>
					</div><!-- //userProf-button -->
				</div>
			</aside><!-- //asideLeft -->

			<div class="content-right">
				<div class="content-right-in">
				
					<div class="tenderdesc">
						<header class="header-post">
							<div class="left">
								<h2 class="title-smm">Title Lorem Ipsum Dolor sit Amet</h2>
								<p class="meta-title">
									oleh <a href="#">Lorem Ipsum </a>,18 September 2015
								</p>
							</div>
							<div class="right">
								<div class="rank-area">
                                    <ul>
                                        <li>
                                            <span class="rank-icon"><i class="fa fa-eye"></i></span>
                                            <span>124</span>
                                        </li>
                                        <li>
                                            <span class="rank-icon"><i class="fa fa-star-o"></i></span>
                                            <span>200</span>
                                        </li>
                                    </ul>
                                </div>
							</div>
						</header> <!-- //header-post -->
						<hr>
						<div class="space15"></div>

						<article class="content-text">
							<figure class="img-center"><img src="assets/img/blog.jpg" alt=""></figure>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan vehicula sem, eu maximus dol  Pellentesque blandit neque sed ante laoreet, a porta dui interdum. Maecenas sed sollicitudin eros. erim ac lorem blandit, eget mattis velit pharetra. Sed convallis neque quis mattis ullamcorper. Nulla sodal so Maecenas varius non dui vitae porttitor. Integer luctus lorem et mi gravida, et venenatis tortor pulvin  Duis quis dignissim dolor, in viverra libero. Maecenas consectetur eget erat in fringilla. Vivamus moleda tiam urna nisi, tincidunt a erat at, dapibus faucibus tortor. Aenean velit eros, accumsan vitae interdu sea </p>
							<p>Mauris volutpat, mi vitae tincidunt egestas, nulla ipsum iaculis mi, nec dapibus orci nunc at risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed auctor tortor in justo pellentesque, vel ultrices erat iaculis. Pellentesque ac aliquet mauris. Mauris ut sapien et elit lobortis vulputate ut eu enim. Nunc elementum justo vitae nisi luctus eleifend. Duis sagittis ex et magna iaculis lacinia. Praesent tortor nunc, dapibus eget rhoncus vel, convallis non mi. Ut eu metus efficitur enim commodo sagittis. Ut congue ex in libero rutrum, vulputate egestas nisi euismod. Vestibulum pulvinar massa vitae condimentum iaculis. Praesent rutrum ante in tellus ullamcorper, vitae molestie ipsum placerat. </p>
							<hr>
							<div class="video-wrapper"><iframe width="560" height="315" src="https://www.youtube.com/embed/bNpx7gpSqbY" frameborder="0" allowfullscreen></iframe></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum lacus non sapien ornare, quis vehicula orci pulvinar. Maecenas malesuada tortor at vulputate tristique. Nulla eu scelerisque magna. Sed fermentum, augue eu sollicitudin mollis, dolor justo volutpat nisi, in tincidunt ex nisi quis orci. Suspendisse pellentesque sollicitudin fermentum. Nunc imperdiet enim eu elementum venenatis. Phasellus id nisl sed sem porta tempus. Proin consequat fermentum tellus, eu lobortis nibh consectetur vitae.</p><p>ras pellentesque risus sit amet sem accumsan, luctus suscipit odio tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dolor enim, aliquam sit amet sollicitudin a, congue id felis. Donec nisl velit, gravida vel lacus quis, gravida ornare magna. Aliquam ut enim eget sem pharetra tincidunt vitae non eros. Aenean vitae elit aliquam, varius turpis at, sodales turpis. Quisque ornare rhoncus feugiat. Donec in suscipit neque, sit amet fringilla diam. Nulla laoreet nec justo finibus tincidunt. Suspendisse enim ipsum, porta vel augue eu, posuere porttitor lectus. Nunc vulputate nibh eget enim auctor scelerisque. Sed ornare ex vestibulum, porttitor orci non, tristique ipsum. Nam sagittis metus diam, at fermentum arcu tincidunt ac. Donec vitae neque velit.</p>
						</article>
						<hr>
						<div class="repond">
							<div class="form-group">
								<label class="label">Komentar (3)</label>
								<textarea class="form-control" rows="5"></textarea>	
							</div>
						</div>
						<div class="form-group text-right">
							<input type="submit" class="btn-turquoise-round" value="Kirim Komentar">
						</div>
						<hr>
						<div class="comments">
							<ul>
								<li class="comments-item">
									<figure><img src="assets/img/profile.jpg" alt=""></figure>
									<div class="desc">
										<header><h3>Lorem Ipsum Dolor sit Amet </h3><span>1 Jam yang lalu</span></header>
										<div class="content-text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum lacus non sapien ornare, quis vehicula orci pulvinar. Maecenas malesuada tortor at vulputate tristique. Nulla eu scelerisque magna.</p>
										</div>
									</div>
								</li>

								<li class="comments-item">
									<figure><img src="assets/img/profile.jpg" alt=""></figure>
									<div class="desc">
										<header><h3>Lorem Ipsum Dolor sit Amet</h3><span>1 Jam yang lalu</span></header>
										<div class="content-text">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum lacus non sapien ornare, quis vehicula orci pulvinar. Maecenas malesuada tortor at vulputate tristique. Nulla eu scelerisque magna.</p>
										</div>
									</div>
								</li>
								<li class="comments-item">
									<a href="#" class="other-comments">Lihat Komentar lain</a>
								</li>
							</ul>
						</div> <!-- //comments -->

					</div> <!-- //tenderdesc -->
				</div>
			</div><!-- //content-right -->
		</div>
   	</div>
</div> <!-- //MAIN -->
  