<div id="main" role="main" >
	<div class="container">
		{{>breadcrumb}}
		
		<div class="row">
			{{>aside}}
			<div class="content-right">
				<div class="content-right-in">
					<div class="aboutRow">
						<article class="about-desc">
							<h5 class="tile-sm">About me</h5>
							<div class="content-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum lacus non sapien ornare, quis vehicula orci pulvinar. Maecenas malesuada tortor at vulputate tristique. Nulla eu scelerisque magna. Sed fermentum, augue eu sollicitudin mollis, dolor justo volutpat nisi, in tincidunt ex nisi quis orci. Suspendisse pellentesque sollicitudin fermentum. Nunc imperdiet enim eu elementum venenatis. Phasellus id nisl sed sem porta tempus. Proin consequat fermentum tellus, eu lobortis nibh consectetur vitae. </p>
							</div>
						</article>

						<div class="progress-wrap">
							<h5 class="tile-sm">Progress</h5>
							<div class="progress-item">
								<span class="progress__text">Progress 1</span>
								<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
									    <span class="value">80%</span>
									  </div>
								</div>
							</div><!-- //progress-item -->
							<div class="progress-item">
								<span class="progress__text">Progress 2</span>
								<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									    60%
									  </div>
								</div>
							</div><!-- //progress-item -->
							<div class="progress-item">
								<span class="progress__text">Progress 3</span>
								<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
									    90%
									  </div>
								</div>
							</div><!-- //progress-item -->
							<div class="progress-item">
								<span class="progress__text">Progress 4</span>
								<div class="progress">
									  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
									    70%
									  </div>
								</div>
							</div><!-- //progress-item -->
						</div> <!-- //progress-wrap -->
					</div>	<!-- //aboutRow -->

					<hr class="line-greyFull">

					<div id="tabs_wrapper">
						<div id="tabs_container">
							<ul id="tabs">
								<li class="active"><a href="#tab1">Tab 1</a></li>
								<li><a class="icon_accept" href="#tab2">Tab with icon</a></li>
								<li><a href="#tab3">Long name for the last tab</a></li>
							</ul>
						</div>
						<div id="tabs_content_container">
							<div id="tab1" class="tab_content" style="display: block;">
								<section class="post-itemwrap">
									{{~#postItem}}
									<article class="post-item">
										<figure>
											<img src="assets/img/{{thumb}}">
											<figcaption>{{{caption}}}</figcaption>
										</figure>
										<div class="rank-area">
											<ul>
												<li>
													<span class="rank-icon"><i class="fa fa-eye"></i></span>
													<span>{{view}}</span>
												</li>
												<li>
													<span class="rank-icon"><i class="fa fa-star-o"></i></span>
													<span>{{rank}}</span>
												</li>
											</ul>
										</div>
									</article> <!-- //post-item -->
									{{~/postItem}}

									<div class="post-button">
										<button class="btn-turquoise">Load More</button>
									</div>
								</section> <!-- //post-itemwrap -->
							</div>
							<div id="tab2" class="tab_content">
								<p>This tab has icon in it.</p>
							</div>
							<div id="tab3" class="tab_content">
								<p>Suspendisse blandit velit eget erat suscipit in malesuada odio venenatis.</p>
							</div>
						</div>
					</div><!-- //tabs_wrapper -->

					<div class="f-comment">
						<form>
						  <div class="form-group">
						    <textarea class="form-control" rows="5"></textarea>
						  </div>
						  <input type="submit" value="Kirim Komentar" class="btn-turquoise">
						</form>
					</div><!-- //f-comment -->
				</div>
			</div><!-- //content-right -->
		</div>
   	</div>
</div> <!-- //MAIN -->
  