<div id="main" role="main" >
	{{> hero}}
	
	<section class="category-home">
		<div class="container">
		<h2 class="title-md">Category Title</h2>
		<ul>
		{{~#categoryHome}}
			<li class="category-home__item">
				<figure>
					<img src="assets/img/{{icon}}" alt="" width="54">
				</figure>
				<div class="content-text">
					<h5>{{title}}</h5>
					<p>{{desc}}</p>
					<a href="" class="readmore">{{link}}</a>
				</div>
			</li><!-- //category-home__item -->
		{{~/categoryHome}}
		</ul>
		</div>
	</section><!-- //category-home -->
   

   	<div class="videohome">
   		<div class="container">
   			<a class="fancybox fancybox.iframe" href="https://www.youtube.com/embed/RkG5NGit1y4?autoplay=0">
	   			<span class="fa fa-play"></span>
	   			<p class="vidhome-desc">Watch this video<br>to learn our services</p> 
			</a>
   		</div>
   	</div><!-- //video-section -->

   	<div class="galleries">
   		<section class="galleries-nav">
   			<ul class="list-unstyled">
   			<li>
	  			<div class="dropdown dd-gallery">
	  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Featured Projects
	  					<i class="fa fa-angle-down"></i>
	  				</button>
	  				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  					<li><a href="#">Action</a></li>
	  					<li><a href="#">Another action</a></li>
	  					<li><a href="#">Something else here</a></li>
	  					<li><a href="#">Separated link</a></li>
	  				</ul>
	  			</div> <!-- //dropdown -->
  			</li>

  			<li>
	  			<div class="dropdown dd-gallery">
	  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">This Month
	  					<i class="fa fa-angle-down"></i>
	  				</button>
	  				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  					<li><a href="#">Action</a></li>
	  					<li><a href="#">Another action</a></li>
	  					<li><a href="#">Something else here</a></li>
	  					<li><a href="#">Separated link</a></li>
	  				</ul>
	  			</div> <!-- //dropdown -->
  			</li>

			<li>
	  			<div class="dropdown dd-gallery">
	  				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Categories
	  					<i class="fa fa-angle-down"></i>
	  				</button>
	  				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	  					<li><a href="#">Action</a></li>
	  					<li><a href="#">Another action</a></li>
	  					<li><a href="#">Something else here</a></li>
	  					<li><a href="#">Separated link</a></li>
	  				</ul>
	  			</div> <!-- //dropdown -->
  			</li>

  			</ul>
   		</section>

   		<section class="galleries-main">
   			<div class="container">
	   			{{~#postItem}}
				<article class="post-item">
					<figure>
						<img src="assets/img/{{thumb}}">
						<figcaption>{{{caption}}}</figcaption>
					</figure>
					<div class="rank-area">
						<ul>
							<li>
								<span class="rank-icon"><i class="fa fa-eye"></i></span>
								<span>{{view}}</span>
							</li>
							<li>
								<span class="rank-icon"><i class="fa fa-star-o"></i></span>
								<span>{{rank}}</span>
							</li>
						</ul>
					</div>
				</article> <!-- //post-item -->
				{{~/postItem}}
				<div class="btnwrap-center">
					<button class="btn-turquoise" type="button">Load More </button>
				</div>
			</div>
   		</section><!-- //galleries-main -->
   	</div> <!-- //galleries -->
</div> <!-- //MAIN -->
  