/** DETAIL
===================================*/
/**
 * Variables and Bootstrap overrides
 */
#main {
  padding-bottom: 40px; }
  #main:before, #main:after {
    content: " ";
    display: table; }
  #main:after {
    clear: both; }

/** ABOUT
===================================*/
.aboutRow {
  margin-left: -15px;
  margin-right: -15px; }
  .aboutRow:before, .aboutRow:after {
    content: " ";
    display: table; }
  .aboutRow:after {
    clear: both; }
  .aboutRow .about-desc {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #959595; }
    @media (min-width: 992px) {
      .aboutRow .about-desc {
        float: left;
        width: 50%; } }
  .aboutRow .progress-wrap {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #959595; }
    @media (min-width: 992px) {
      .aboutRow .progress-wrap {
        float: left;
        width: 50%; } }

.progress-item .progress__text {
  display: block;
  font-size: 0.9em; }
.progress-item .progress {
  overflow: initial;
  height: 17px;
  margin-bottom: 9px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }
  .progress-item .progress .progress-bar {
    background-color: #33cccc;
    position: relative;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px; }
  .progress-item .progress .value {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-color: #333333;
    padding: 1px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 0.9em; }
    .progress-item .progress .value:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -7px;
      margin: auto;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 8px solid #333333; }

/** TABS
===================================*/
#tabs_wrapper {
  padding-top: 20px; }

#tabs {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #ebebeb; }

#tabs li {
  display: inline; }

#tabs li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 6px 10px;
  text-decoration: none;
  outline: none;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

#tabs li a:hover {
  border-bottom: 3px solid #33cccc; }

#tabs li.active a {
  border-bottom: 3px solid #33cccc; }

#tabs_content_container {
  padding: 25px 0; }

.tab_content {
  display: none; }

/** HEROS
===================================*/
.hero {
  position: relative; }
  .hero .rsMinW .rsBullets {
    width: 100%;
    bottom: -44px;
    left: 0;
    right: auto; }
  .hero .rsMinW .rsBullet {
    width: 15px;
    height: 15px;
    display: inline-block;
    padding: 0 15px 28px 15px; }
    .hero .rsMinW .rsBullet span {
      background: #33cccc;
      width: 15px;
      height: 15px;
      cursor: pointer; }
    .hero .rsMinW .rsBullet.rsNavSelected span {
      background: #222222; }

.fancybox-opened .fancybox-skin {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
.fancybox-opened .fancybox-outer {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-close {
  top: 0;
  right: 0; }

/** TABS HERO
===================================*/
.hero-tabs {
  margin: 60px auto 30px;
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #b7b7b7; }
  @media screen and (min-width: 50em) {
    .hero-tabs {
      margin: 0;
      position: absolute;
      left: 50%;
      margin-left: 17%;
      top: 50%;
      margin-top: -160px;
      max-width: 325px;
      width: 40%;
      z-index: 100; } }
  @media screen and (min-width: 50em) and (max-width: 62em) {
    .hero-tabs {
      margin-left: 1%; } }
  .hero-tabs #tabs_content_container {
    padding: 40px 20px 20px; }
  .hero-tabs #tabs {
    border: none;
    overflow: hidden; }
    .hero-tabs #tabs li {
      width: 49.3%;
      background-color: #eeeeee;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .hero-tabs #tabs li.active {
        background-color: #f7f7f7; }
        .hero-tabs #tabs li.active a {
          color: #33cccc; }
      .hero-tabs #tabs li a {
        display: block;
        color: #c7c7c7;
        font-size: 17px;
        font-weight: 600;
        border: none;
        padding: 17px 10px; }

.f-srcbox .form-control {
  margin-bottom: 25px; }
.f-srcbox .btn-turquoise-flat {
  display: block; }

.post-itemwrap {
  text-align: center; }

.post-item {
  width: 215px;
  overflow: hidden;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-color: white;
  border: 1px solid #cccdcd;
  margin: 0 15px 45px; }
  .post-item figure {
    text-align: center;
    position: relative; }
    .post-item figure figcaption {
      color: white;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 5px 10px;
      font-size: 0.8em;
      background-color: rgba(0, 0, 0, 0.4);
      text-align: left; }

.rank-area {
  padding: 10px 13px;
  text-align: center; }
  .rank-area ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    color: #aaaaaa;
    margin: 0 12%;
    font-size: 11px;
    text-align: center; }
    .rank-area ul li .rank-icon {
      display: block;
      font-size: 1em;
      border: 1px solid #aaaaaa;
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      width: 25px;
      height: 24px;
      line-height: 21px; }

.post-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.f-comment {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden; }
  .f-comment .btn-turquoise {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px; }

/** CATEGORY HOME
===================================*/
.category-home {
  text-align: center;
  padding: 60px 0 20px;
  background-color: white; }
  .category-home:before, .category-home:after {
    content: " ";
    display: table; }
  .category-home:after {
    clear: both; }
  @media screen and (min-width: 48em) {
    .category-home .title-md {
      margin-bottom: 2em; } }

.category-home__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 13px 40px 13px;
  padding: 18px;
  width: 43%;
  vertical-align: top;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .category-home__item:hover {
    background-color: #f2f2f2;
    -webkit-box-shadow: inset 0px 0px 7px -1px #e3e3e3;
    -moz-box-shadow: inset 0px 0px 7px -1px #e3e3e3;
    box-shadow: inset 0px 0px 7px -1px #e3e3e3; }
  @media screen and (min-width: 48em) {
    .category-home__item {
      width: 22%; } }
  .category-home__item figure {
    text-align: center;
    margin-bottom: 15px; }
  .category-home__item .content-text {
    color: #4d4d4d; }
    .category-home__item .content-text h5 {
      margin: 0;
      font-weight: 700;
      margin-bottom: 10px; }
  .category-home__item .readmore {
    color: #4d4d4d;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    font-size: 0.9em;
    font-style: italic; }
    .category-home__item .readmore:hover {
      color: #4ad1d1;
      text-decoration: none;
      text-decoration: underline; }

/** VIDEHOME
===================================*/
.videohome {
  position: relative;
  z-index: 1;
  padding: 7.8% 0;
  background: url("../img/video_thumb.jpg") center top no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center; }
  .videohome a {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .videohome a:hover, .videohome a:focus, .videohome a:active {
      color: #9e9e9e; }
      .videohome a:hover .fa, .videohome a:focus .fa, .videohome a:active .fa {
        border-color: #9e9e9e; }
  .videohome .fa {
    font-size: 2em;
    width: 62px;
    height: 62px;
    line-height: 59px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid white;
    margin-bottom: 15px; }
  .videohome .vidhome-desc {
    font-size: 28px;
    line-height: 1.2em; }
  .videohome:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1; }

/** GALLERIES NAV
===================================*/
.galleries-nav {
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 0; }
  .galleries-nav:before, .galleries-nav:after {
    content: " ";
    display: table; }
  .galleries-nav:after {
    clear: both; }
  .galleries-nav > ul > li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 15px; }

/** GALLERIES MAIN
===================================*/
.galleries-main {
  text-align: center;
  padding: 50px 0 10px; }
  .galleries-main:before, .galleries-main:after {
    content: " ";
    display: table; }
  .galleries-main:after {
    clear: both; }
