/** THEMES STYLE
===================================*/
/**
 * Variables and Bootstrap overrides
 */
/** HEADER
===================================*/
#header {
  background-color: #ffffff;
  box-shadow: 1.5px 2.6px 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1.5px 2.6px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1.5px 2.6px 8px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  min-height: 87px;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  z-index: 120; }
  #header.sticky {
    position: fixed;
    width: 100%;
    padding: 7px 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease; }
    @media screen and (min-width: 50em) {
      #header.sticky .dropdown, #header.sticky .nav, #header.sticky .header-right {
        padding-top: 19px; } }
    @media screen and (min-width: 50em) {
      #header.sticky #logo {
        width: 92px; } }
  @media screen and (min-width: 50em) {
    #header .dropdown {
      float: right;
      padding-top: 28px; } }
  #header .dropdown .btn {
    color: #33cccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px; }
  @media screen and (min-width: 50em) {
    #header .dropdown {
      float: left; } }

@media screen and (min-width: 50em) {
  .header-left {
    float: left; } }

@media screen and (min-width: 50em) {
  .header-right {
    float: right; } }

#logo {
  width: 220px;
  margin: 0 auto 25px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease; }
  @media screen and (min-width: 50em) {
    #logo {
      margin: 0;
      width: 110px;
      float: left;
      margin-right: 30px; } }

.search-box {
  width: 100%;
  margin-bottom: 25px; }
  @media screen and (min-width: 50em) {
    .search-box {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-bottom: 0;
      width: auto; } }
  .search-box .form-control {
    vertical-align: middle;
    text-align: left;
    padding-left: 0;
    padding-right: 25px;
    color: #fff;
    display: block !important;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent url('../img/search.png?1448187616') 100% 50% no-repeat;
    -moz-background-size: 15px auto;
    -o-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
    border-bottom: 1px solid transparent;
    color: #333333;
    border-bottom: 1px solid #E0DDDD; }
    .search-box .form-control:focus {
      border-bottom: 1px solid #E0DDDD; }
    @media screen and (min-width: 50em) {
      .search-box .form-control {
        max-width: 155px;
        border-bottom: none; } }

.header-left {
  text-align: center; }
  @media screen and (min-width: 50em) {
    .header-left {
      text-align: left; } }

.header-right {
  padding-top: 29px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease; }
  @media screen and (min-width: 50em) {
    .header-right {
      float: right;
      text-align: right; } }

.user-area {
  text-align: center;
  width: 100%;
  padding-bottom: 30px; }
  @media screen and (min-width: 50em) {
    .user-area {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: auto;
      padding-bottom: 0; } }

.user-areaLink {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #333333;
  margin: 0 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .user-areaLink:hover {
    color: #33cccc;
    text-decoration: none; }

/** MAIN NAV
===================================*/
.nav {
  display: none;
  text-align: center; }
  @media screen and (min-width: 62em) {
    .nav {
      display: block;
      float: left;
      padding-top: 30px; } }
  .nav ul {
    zoom: 1;
    width: 100%;
    /*height:51px;*/
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav ul li {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline; }
      .nav ul li a {
        padding: 8px 18px;
        display: block;
        font-weight: 400;
        font-size: 18px;
        color: #333333;
        font-family: 'Roboto', sans-serif;
        font-weight: 700; }
        @media screen and (min-width: 800px) and (max-width: 1200px) {
          .nav ul li a {
            padding-right: 10px;
            padding-left: 10px; } }
      .nav ul li:hover > a {
        color: #33cccc;
        text-decoration: none; }
      .nav ul li ul {
        height: auto;
        border: 0;
        position: absolute;
        max-width: 250px;
        z-index: 80;
        display: none;
        margin: 0;
        padding: 0;
        background: #33cccc; }
        .nav ul li ul a {
          padding: 10px;
          _height: 10px;
          /*IE6 only*/
          display: block;
          float: none;
          text-transform: none;
          font-size: 0.9em;
          color: white; }
          .nav ul li ul a:hover {
            background-color: #2eb8b8;
            color: #fff; }
      .nav ul li li {
        float: none;
        display: block;
        border: 0;
        border-bottom: 1px solid #32c8c8;
        text-align: left; }
        .nav ul li li:last-child {
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none; }

/*====== HUMBERBER BUTTON ======*/
.btn-rwd-sidebar {
  display: block;
  margin-top: 0;
  float: right;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #50555a;
  color: white;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0; }
  @media screen and (min-width: 62em) {
    .btn-rwd-sidebar {
      display: none; } }

/*====== RESPONSIVE MENU ======*/
.close-sidebar {
  text-align: right; }

.nav-rwd-sidebar {
  width: 60%;
  z-index: 999;
  background-color: #50555a;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media (min-width: 55em) {
    .nav-rwd-sidebar {
      width: 60%; } }
  .nav-rwd-sidebar .nav-sidebar {
    margin-top: 50px; }
  .nav-rwd-sidebar ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px; }
    .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
      font-size: 13px;
      text-transform: capitalize;
      padding: 8px 15px;
      display: block;
      font-weight: 600; }
    .nav-rwd-sidebar ul li a:hover, .nav-rwd-sidebar ul li a:focus {
      color: white;
      background-color: #313131;
      text-decoration: none; }

.nav-rwd-sidebar {
  margin-left: -60%; }
  .nav-rwd-sidebar .btn-hide {
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    line-height: 42px;
    background-color: #313131;
    color: white;
    box-shadow: inset 0 0 0 2px #313131; }
    .nav-rwd-sidebar .btn-hide:hover, .nav-rwd-sidebar .btn-hide:focus {
      background-color: transparent;
      color: #c1c1c1; }
  .nav-rwd-sidebar.sidebar-active {
    margin-left: 0; }
  .nav-rwd-sidebar ul li a, .nav-rwd-sidebar ul li span {
    padding-left: 30px;
    color: white; }
  .nav-rwd-sidebar ul li:hover a, .nav-rwd-sidebar ul li:focus a {
    color: #f1f1f1; }

/** SIDEBAR
===================================*/
.aside-profile {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .aside-profile {
      float: left;
      width: 25%; } }
  .aside-profile .aside-in {
    padding: 20px 25px;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    margin-bottom: 20px; }
  .aside-profile .userProf-share {
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    margin-bottom: 20px; }

.aside-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center; }

.userThumb {
  max-width: 150px;
  margin: 0 auto 20px;
  text-align: center;
  text-align: center; }
  .userThumb img {
    margin-bottom: 15px; }
  .userThumb figcaption {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: block; }

.userProf-button {
  margin-bottom: 20px; }
  .userProf-button a {
    display: block;
    margin-bottom: 8px; }

.userProf-stat {
  border-top: 1px solid #ebebeb;
  padding-top: 12px; }
  .userProf-stat .table tr td {
    border: none; }
  .userProf-stat .iconLoc {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15px auto;
    padding-left: 27px;
    color: #898989; }
    .userProf-stat .iconLoc.icon-map {
      background-image: url('../img/ico-map.png?1448187616'); }
    .userProf-stat .iconLoc.icon-eye {
      background-image: url('../img/ico-eye.png?1448187616');
      background-size: 18px auto; }
    .userProf-stat .iconLoc.icon-list {
      background-image: url('../img/ico-list.png?1448187616');
      background-size: 16px auto; }
    .userProf-stat .iconLoc.icon-rate {
      background-image: url('../img/ico-star.png?1448187616');
      background-size: 17px auto; }

/** BREADCRUMB
===================================*/
.breadcrumb {
  font-size: 12px;
  margin-left: -2px;
  padding-left: 0; }
  .breadcrumb a, .breadcrumb span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0 2px; }
  .breadcrumb a {
    color: #33cccc;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .breadcrumb a:hover {
      color: #333333; }

/**
 * Variables and Bootstrap overrides
 */
/** MAIN
===================================*/
/** APPLY TENDER
===================================*/
.side-avatar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .side-avatar {
      float: left;
      width: 16.66667%; } }
  .side-avatar figure {
    max-width: 80px; }
  @media screen and (max-width: 62em) {
    .side-avatar {
      text-align: center; }
      .side-avatar figure {
        margin: 0 auto 15px; } }

.tenderdesc {
  overflow: hidden; }
  @media screen and (max-width: 62em) {
    .tenderdesc .header-post {
      text-align: center; } }

.header-post {
  overflow: hidden;
  margin-bottom: 20px; }
  .header-post .tile-sm, .header-post .title-smm {
    margin-bottom: 5px; }
  .header-post .meta-title {
    font-size: 0.9em;
    color: #898989; }
  .header-post .rank-area li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0;
    margin: 0 8px; }
  @media screen and (min-width: 60em) {
    .header-post .rank-area {
      text-align: right; }
    .header-post .left {
      float: left; }
    .header-post .right {
      overflow: hidden; } }

/** Tender detail
===================================*/
.tender-detail {
  margin-bottom: 30px; }
  .tender-detail ul li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    display: block; }
    @media screen and (min-width: 50em) {
      .tender-detail ul li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-right: 20px;
        border: none; }
        .tender-detail ul li:last-child {
          margin-right: 0; } }
    .tender-detail ul li .fa {
      margin-right: 6px; }

/** DETAIL IKLAN
===================================*/
.comments-item {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
  margin-bottom: 15px; }
  .comments-item:last-child {
    border-bottom: 0; }
  .comments-item figure {
    max-width: 75px;
    margin-bottom: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #33cccc;
    overflow: hidden; }
    .comments-item figure img {
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
    @media screen and (min-width: 50em) {
      .comments-item figure {
        float: left;
        margin-right: 25px; } }
  .comments-item .desc {
    overflow: hidden; }
  .comments-item header {
    margin-bottom: 12px; }
    .comments-item header h3 {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 0;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: #333333;
      margin-right: 6px; }
    .comments-item header span {
      font-size: 0.9em;
      color: #535353; }
  .comments-item .other-comments {
    text-align: center;
    display: block; }

/** MERCHANTS
===================================*/
.merchant {
  background-color: #222222;
  color: white;
  padding: 30px 0 10px;
  text-align: center;
  margin-bottom: 30px; }
  .merchant:before, .merchant:after {
    content: " ";
    display: table; }
  .merchant:after {
    clear: both; }
  .merchant ul li {
    display: block;
    margin-bottom: 15px; }
    @media screen and (min-width: 32em) {
      .merchant ul li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin: 0;
        margin: 0 2% 20px; } }

/** FOOTER
===================================*/
#footer {
  background-color: white; }
  #footer:before, #footer:after {
    content: '';
    display: table; }
  #footer:after {
    clear: both; }
  #footer .userProf-share {
    padding-top: 5px; }
    #footer .userProf-share a {
      font-size: 26px;
      color: #333333; }
  #footer .copyrt {
    margin-bottom: 4px; }

.footleft__link a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 8px;
  line-height: 1.2em;
  color: #898989; }
  .footleft__link a:first-of-type {
    border-right: 1px solid #898989; }
  .footleft__link a:hover {
    color: #33cccc;
    text-decoration: none; }

.footLeft {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  text-align: center;
  color: #898989; }
  @media (min-width: 992px) {
    .footLeft {
      float: left;
      width: 33.33333%; } }
  .footLeft .inside {
    max-width: 200px;
    margin: 0 auto 25px; }
    @media screen and (min-width: 62em) {
      .footLeft .inside {
        margin: 0; } }

.footlogo {
  width: 110px;
  overflow: hidden;
  margin: 0 auto 15px; }

/** FOOT RIGHT
===================================*/
.footRight {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .footRight {
      float: left;
      width: 66.66667%; } }

.footwdg {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  margin: 0 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1; }
  @media screen and (min-width: 62em) {
    .footwdg {
      width: 20%;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; } }
  @media screen and (min-width: 48em) and (max-width: 61em) {
    .footwdg {
      width: 44%; } }
  @media screen and (max-width: 47em) {
    .footwdg {
      margin-right: 0;
      margin-left: 0;
      padding-right: 15px;
      padding-left: 15px; } }
  .footwdg h5 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #333333; }
  .footwdg ul li {
    display: block;
    margin-bottom: 6px; }
    .footwdg ul li a {
      color: #898989;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .footwdg ul li a:hover {
        color: #33cccc;
        text-decoration: none; }
