/**
 * Variables and Bootstrap overrides
 */
/** MAIN
===================================*/
/** APPLY TENDER
===================================*/
.side-avatar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 992px) {
    .side-avatar {
      float: left;
      width: 16.66667%; } }
  .side-avatar figure {
    max-width: 80px; }
  @media screen and (max-width: 62em) {
    .side-avatar {
      text-align: center; }
      .side-avatar figure {
        margin: 0 auto 15px; } }

.tenderdesc {
  overflow: hidden; }
  @media screen and (max-width: 62em) {
    .tenderdesc .header-post {
      text-align: center; } }

.header-post {
  overflow: hidden;
  margin-bottom: 20px; }
  .header-post .tile-sm, .header-post .title-smm {
    margin-bottom: 5px; }
  .header-post .meta-title {
    font-size: 0.9em;
    color: #898989; }
  .header-post .rank-area li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin: 0;
    margin: 0 8px; }
  @media screen and (min-width: 60em) {
    .header-post .rank-area {
      text-align: right; }
    .header-post .left {
      float: left; }
    .header-post .right {
      overflow: hidden; } }

/** Tender detail
===================================*/
.tender-detail {
  margin-bottom: 30px; }
  .tender-detail ul li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    display: block; }
    @media screen and (min-width: 50em) {
      .tender-detail ul li {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        margin-right: 20px;
        border: none; }
        .tender-detail ul li:last-child {
          margin-right: 0; } }
    .tender-detail ul li .fa {
      margin-right: 6px; }

/** DETAIL IKLAN
===================================*/
.comments-item {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 10px;
  margin-bottom: 15px; }
  .comments-item:last-child {
    border-bottom: 0; }
  .comments-item figure {
    max-width: 75px;
    margin-bottom: 15px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #33cccc;
    overflow: hidden; }
    .comments-item figure img {
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
    @media screen and (min-width: 50em) {
      .comments-item figure {
        float: left;
        margin-right: 25px; } }
  .comments-item .desc {
    overflow: hidden; }
  .comments-item header {
    margin-bottom: 12px; }
    .comments-item header h3 {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin: 0;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      color: #333333;
      margin-right: 6px; }
    .comments-item header span {
      font-size: 0.9em;
      color: #535353; }
  .comments-item .other-comments {
    text-align: center;
    display: block; }
