/** SIDEBAR
===================================*/
.aside-profile{
	@include make-md-column(3);
	

	.aside-in{
		padding: 20px 25px;
		background-color: white;
		@include border-radius(5px);
		border: 1px solid #ebebeb;
		margin-bottom: 20px;
	}

	.userProf-share{
		border-top: 1px solid #ebebeb;
		padding-top: 15px;
		margin-bottom: 20px;
	}
}

.aside-title{
	 margin: 0;
	 margin-bottom: 15px;
	 font-size: 15px;
	 font-family: 'Roboto', sans-serif;
	 font-weight: 700;
	 text-align: center;
}

.userThumb{
	max-width: 150px;
	margin: 0 auto 20px;
	text-align: center;
	text-align: center;
	img{
		margin-bottom: 15px;
	}
	figcaption{
		font-size: 14px;
	 	font-family: 'Roboto', sans-serif;
	 	font-weight: 700;
	 	display: block;
	}
}

.userProf-button{
	margin-bottom: 20px;
	a{
		display: block;
		margin-bottom: 8px;
	}
}

.userProf-stat{
	border-top: 1px solid #ebebeb;
	padding-top: 12px;
	.table{
		tr{
			td{
				border: none;
			}
		}
	}

	.iconLoc{
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 15px auto;
		padding-left: 27px;
		color: #898989;

		&.icon-map{
			background-image: image-url('ico-map.png');
		}
		&.icon-eye{
			background-image: image-url('ico-eye.png');
			background-size: 18px auto;
		}
		&.icon-list{
			background-image: image-url('ico-list.png');
			background-size: 16px auto
		}
		&.icon-rate{
			background-image: image-url('ico-star.png');
			background-size: 17px auto
		}
	}
}