/** BREADCRUMB
===================================*/
.breadcrumb{
	font-size: 12px;
	margin-left: -2px;
	padding-left: 0;	

	a, span{
		@include inline-block();
		margin: 0 2px;
	}
	a{
		color: $base-color;
		@include inline-block();
		@include prefixed(transition, all 0.3s linear);
		&:hover{
			color: $text-color;
		}	
	}
}
