/** MERCHANTS
===================================*/
.merchant{
	@include clearfix();
	background-color: #222222;
	color: white;
	padding: 30px 0 10px; 
	text-align: center;
	margin-bottom: 30px;

	ul{
		li{
			@media screen and (min-width: 32em){
				@include inline-block();
				margin: 0;
				margin: 0 2% 20px;
			}
			display: block;
			margin-bottom: 15px;
			
		}
	}
}

/** FOOTER
===================================*/
#footer{
	//border-top: 1px solid #e1e1e1;
	background-color: white;
	&:before, &:after{
			content: '';
			display: table;
		}
		&:after{
			clear: both;
		}
	.userProf-share{
		padding-top: 5px;
		a{
			font-size: 26px;
			color: #333333;
		}
	}
	.copyrt{
		margin-bottom: 4px;
	}
}
.footleft__link{
	a{
		@include inline-block();
		padding:0 8px;
		line-height: 1.2em;
		color:#898989;
		&:first-of-type{
			border-right: 1px solid #898989;
		}
		&:hover{
			color: $base-color;
			text-decoration: none;
		}
	}
}
.footLeft{
	@include make-md-column(4);
	font-size: 12px;
	text-align: center;
	color: #898989;
	.inside{
		max-width: 200px;
		margin: 0 auto 25px;
		@media screen and (min-width: 62em){
			margin: 0;
		}
	}
}

.footlogo{
	width: 110px;
	overflow: hidden;
	margin: 0 auto 15px;
}

/** FOOT RIGHT
===================================*/
.footRight{
	@include make-md-column(8);
}
.footwdg{
	@include inline-block();
	width: 100%;
	margin: 0 15px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e1e1e1;
	@media screen and (min-width: 62em){
		width: 20%;
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}

	@media screen and (min-width: 48em) and (max-width: 61em){
		width: 44%;
	}
	@media screen and (max-width: 47em){
		margin-right: 0;
		margin-left: 0;
		padding-right: 15px;
		padding-left: 15px;
	}
	
	h5{
		margin: 0;
		margin-bottom: 15px;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: #333333;
	}

	ul{
		li{
			display: block;
			margin-bottom: 6px;
			a{
				color: #898989;
				@include prefixed(transition, all 0.3s linear);

				&:hover{
					color: $base-color;
					text-decoration: none;
				}
			}
		}
	}
	
}