/*==== CHECKBOX DAN RADIO ======*/

.checkbox, .radio{
	font-size: 13px;
	label{
		padding-left: 0;
	}
	input[type="checkbox"]{
		margin-top: 7px;
	}
}


input[type="checkbox"], input[type="radio"] {
    display:none;
}

/*====== CHECKBOX ======*/
input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin:-4px 7px 0 0;
    vertical-align:middle;
    background:image-url('checkbox.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:image-url('checkbox.png') right top no-repeat;
}

/*====== RADIO ======*/
input[type="radio"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin: 3px 10px 0 0;
    vertical-align:middle;
    background:image-url('radio_fill.png') 0 0 no-repeat;
    cursor:pointer;
    float: left;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
}
input[type="radio"]:checked + label span {
    background:image-url('radio_empty.png') 0 0  no-repeat;
    background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
}

.label{
    color: #636363;
    font-size: 13px;
    padding: 10px 0;
    font-weight: 700;
    @include inline-block();
}

.form-half{
    max-width: 300px;
}
.form-control{
    @include border-radius(0);
}

.rp-icon{
    .rp-icontext{
        @include inline-block();
        margin-right: 12px;
        color: #e1e1e1
    }
    .input-rp{
         @include inline-block();
         position: relative;
         @media screen and (min-width: 50em){
            width: 260px;
         }
    }
    .form-control{
        padding-right: 50px;
    }
    .zerotow{
            position: absolute;
            right: 7px;
            top: 20%;
    }
}