body{
	background: $body-bg2;
	font: $font-size $primary-font;
	line-height: 1.5em;
	color: $text-color;
	font-weight: normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;	
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

a{

	color: #33cccc;

	&:hover{
		color: #898989;
	}
}

$spacer:
	( space15, 15px),
	( space20, 20px),
	( space30, 30px),
	( space45, 45px),
	( space60, 60px);
@each $space-name, $space-value in $spacer{
	.#{$space-name}{
		height: $space-value;
		display: block;
		width: 100%;
	}
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

textarea, input, button{
	&:focus{
    	outline: 0;
	}
}

/** WRAPPER and For Responsive nav To work properly
===================================*/
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
	.wrapper-inner{
		transition: all 500ms cubic-bezier(0.25, 0.1, 0, 0.95);
		position: relative;
		width: 100%;
		display: block;
		margin-right: 0;
	}
	.mask-wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( black, .15 );
		z-index: -1;
		opacity: 0;
		transition: all 350ms ease;
	}
	.wrapper-active{
		margin-right: -60%;
		float: right;
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
	.on-active-right{
		.mask-wrapper{
			opacity: 1;
			z-index: 11;
		}
	}
}

/** TITLE
===================================*/
.tile-sm{
	margin: 0;
	margin-bottom: 15px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #333333;
}
.title-smm{
	@extend .tile-sm;
	font-size: 24px;
}
.title-md{
	margin: 0;
	margin-bottom: 40px;
	font-size: 28px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #333333;
	@media screen and (min-width: 48em){
		font-size: 34px;
	}
}

/** FORM , BUTTON AND LINKS
===================================*/
.btn-turquoise{
	background: none;
	border: none;
	@include border-radius(10px);
	background: #33cccc;
	color: white;
	font-family: 'Roboto', sans-serif;
	 padding: 10px 35px;
	font-size: 16px;
	@include inline-block();
    @include box-shadow(0 4px #2dbaba);
    font-weight: 700;
    position: relative;

    &:hover, &:active{
    	@include box-shadow(0 2px #2dbaba);
		top: 2px;
		color: white;
		text-decoration: none;
    }
}

.btn-grey{
    background: none;
	border: none;
	@include border-radius(7px);
	background: #ebebeb;
	color: #959595;
	font-family: 'Roboto', sans-serif;
	padding: 9px 35px;
	font-size: 13px;
	@include inline-block();
	text-align: center;
    &:hover, &:active, &:focus{
    	background-color: $base-color;
    	text-decoration: none;
    	color: white;
    }

    &.btn-full{
    	width: 100%;
    }
}

.btn-turquoise-round{
	@extend .btn-grey;
	background-color: $base-color;
	color: white;
	&:hover, &:active, &:focus{
		background: #ebebeb;
		color: #959595;
	}

}
.btn-turquoise-flat{
	display: block;
	width: 100%;
	background: none;
	border: none;
	@include border-radius(4);
	background: #33cccc;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 10px 35px;
	font-size: 16px;
	font-weight: 700;

    &:hover, &:active{
		top: 2px;
		color: white;
		text-decoration: none;
    }
}

/** LAYOUT
===================================*/
#main{
	background-color: $body-bg2;
	padding-bottom: 50px;
}
.content-right{
	@include make-md-column(9);

	.content-right-in{
		padding: 20px 25px;
		background-color: white;
		@include border-radius(5px);
		border: 1px solid #ebebeb;
		&:before, &:after{
			content: '';
			display: table;
		}
		&:after{
			clear: both;
		}
	}
}

.userProf-share{
	text-align: center;
	a{
		@include inline-block();
		margin: 0 5%;
		@include prefixed(transition, all 0.3s linear);
		font-size: 1.7em;
		color: #b3b3b3;

		&:hover{
			color: $base-color;
			text-decoration: none;
		}
		
	}
}

.line-greyFull{
	margin-left: -25px;
    margin-right: -25px;
}

/** DROPDOWN
===================================*/
.dropdown{
	  @include inline-block();

	 .btn{
        background: none;
        border: none;
        .fa{
          color: #333333;
        }
    }

    .dropdown-menu{
      background-color: #e6e6e6;
      border: none;
      margin: 0;
      padding: 0;
      top: 156%;
      @include border-radius(0);
      > li{
        border-bottom: 1px solid #cccccc;
        display: block;
        width: 100%;
        &:first-child:before{
          content: '';
          position: absolute;
          z-index: 10;
          top: -9px;
          left: 22px;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 12px solid #e6e6e6;
        }
        &:last-child{
          border: none;
        }
      }
      > li > a{
        color:  #4d4d4d;
        padding: 7px 22px 10px;
      }
    }
}

/** TAG TEXT
===================================*/
.tag-wrap{
	margin-bottom: 20px;
	text-align: center;
	@media screen and (min-width: 62em){
		text-align: left;
	}
	.tag-text{
		@include inline-block();
		padding: 5px 10px 7px;
		margin: 0 10px 10px 0;
		background-color: #ebebeb;
		color: darken(#ebebeb, 50%);
		line-height: 1em;
		@include border-radius(6px);
		&:hover{
			background-color: #33cccc;
			color: white;
			text-decoration: none;
		}
		&:first-child{
			margin-left: 0;
		}
	}
}

/** IMAGES
===================================*/
.img-left{
	margin: 0 auto 20px;
	text-align: center;
	@media screen and (min-width: 48em){
		float: left;
		margin: 0;
		margin-right: 25px;
		margin-bottom: 10px;
		text-align: left;
	}
}
.img-right{
	margin: 0 auto 20px;
	text-align: center;
	@media screen and (min-width: 48em){
		float: right;
		margin: 0;
		margin-left: 25px;
		margin-bottom: 10px;
		text-align: right;
	}
}

.img-center{
	margin: 0 auto 20px;
	text-align: center;
}


/** VIDEO RESPONSIVE
===================================*/
.video-wrapper {
	position: relative;
	padding-bottom:48%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: 20px;
	object, embed, iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
