/** HEADER
===================================*/
#header{
  background-color: #ffffff;
  box-shadow:  1.5px 2.6px 8px 0 rgba(0,0,0, 0.15);
  -moz-box-shadow:  1.5px 2.6px 8px 0 rgba(0,0,0, 0.15);
  -webkit-box-shadow:  1.5px 2.6px 8px 0 rgba(0,0,0, 0.15);
  padding: 10px 0;
  min-height: 87px;
  position: relative;
  z-index: 5;
   -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    z-index: 120;

  &.sticky{
    position: fixed;
    width: 100%;
    padding: 7px 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;

    @media screen and (min-width: 50em){
        .dropdown, .nav, .header-right{
          padding-top: 19px;
        }
    }

    #logo{
      @media screen and (min-width: 50em){
        width: 92px;
      }
    }
}

.dropdown{
    	@media screen and (min-width: 50em){
        float: right;
        padding-top: 28px;
      }
    .btn{
        color: $base-color ;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
    }
  	@media screen and (min-width: 50em){
  		  float: left;
  	}
}
}

.header-left{
  @media screen and (min-width: 50em){
    float: left;
  }
}
.header-right{
  @media screen and (min-width: 50em){
    float : right;
  }
}

#logo{
	width: 220px;
	margin: 0 auto 25px;
	overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
	@media screen and (min-width: 50em){
		margin: 0;
		width: 110px;
		float: left;
    margin-right: 30px;
	}
}

.search-box{
    width: 100%;
    margin-bottom: 25px;
    @media screen and (min-width: 50em){
       @include inline-block();
       margin-bottom: 0;
        width: auto;
    }
   .form-control {
      vertical-align: middle;
      text-align: left;
      padding-left: 0;
      padding-right: 25px;
      color: #fff;
      display: block!important;
      border: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: transparent image-url('search.png') 100%  50% no-repeat;
      @include background-size(15px auto) ;
       border-bottom: 1px solid transparent;
       color: #333333;
       border-bottom: 1px solid #E0DDDD;
      &:focus{
        border-bottom: 1px solid #E0DDDD;
      }

       @media screen and (min-width: 50em){
          max-width: 155px;
          border-bottom: none;
       }
    }
}

.header-left{
  text-align: center;
  @media screen and (min-width: 50em){
    text-align: left;
  }
}

.header-right{
  padding-top: 29px;
   -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
  @media screen and (min-width: 50em){
    float: right;
    text-align: right;

  }
}
.user-area{
    text-align: center; 
    width: 100%;
    padding-bottom: 30px;
    @media screen and (min-width: 50em){
      text-align: right;
      @include inline-block();
      width: auto;
      padding-bottom: 0;
    }
}

.user-areaLink{
  @include inline-block();
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: $text-color;
  margin: 0 20px;

  @include prefixed(transition, all 0.3s linear);
  &:hover{
    color: $base-color;
    text-decoration: none;
  }
}
