#main{
	padding-bottom: 40px;
	@include clearfix();
}
/** ABOUT
===================================*/
.aboutRow{
	@include make-row();
	.about-desc{
		@include make-md-column(6);
		color: #959595;

	}

	.progress-wrap{
		@include make-md-column(6);
		color: #959595;
	}
}

.progress-item{
	.progress__text{
		display: block;
		font-size: 0.9em;
	}

	.progress{
		overflow: initial;
		height: 17px;
		margin-bottom: 9px;
		@include border-radius(6px);
		

		.progress-bar{
			background-color: $base-color;
			position: relative;
			@include border-left-radius(6px);
		}

		.value{
			@include inline-block();
			background-color: #333333;
			padding: 1px 8px;
			@include border-radius(3px);
			position: absolute;
			top: -30px;
			right: 0;
    		font-size: 0.9em;
    		&:before{
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -7px;
				margin: auto;
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 8px solid #333333;

    		}
		}
	}
}

/** TABS
===================================*/
#tabs_wrapper {
	padding-top: 20px;
}
#tabs_container {
	
}
#tabs {
	list-style: none;
	text-align: center;
	border-bottom: 1px solid #ebebeb;
}
#tabs li {
	display: inline;
}
#tabs li a {
	@include inline-block();
	padding: 6px 10px;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	border-bottom: 3px solid transparent;
	@include prefixed(transition, all 0.3s linear);
}
#tabs li a:hover {
	border-bottom: 3px solid $base-color;
}
#tabs li.active a {
	border-bottom: 3px solid $base-color;
}
#tabs_content_container {
	padding: 25px 0;
}
.tab_content {
	display: none;
}
/** HEROS
===================================*/
.hero{
	position: relative;
	.rsMinW {
		.rsBullets{
			width: 100%;
			bottom: -44px;
			left: 0;
			right: auto;
		}
		.rsBullet{
			width: 15px;
			height: 15px;
			display: inline-block;
			padding: 0 15px 28px 15px;

			span{
				background: #33cccc;
				width: 15px;
				height: 15px;
				cursor: pointer;
			}

			&.rsNavSelected span{
				background: #222222;
			}
		}
	}
}


.fancybox-opened{
	 .fancybox-skin{
	 	background: none;
	 	@include box-shadow(none);
	 	@include border-radius(0);
	 }
	 .fancybox-outer{
	 	@include box-shadow(0 10px 25px rgba(0, 0, 0, 0.5));
	 }
}
.fancybox-close{
	top: 0;
	right: 0;
}


/** TABS HERO
===================================*/
.hero-tabs{
	margin: 60px auto 30px;
	width: 100%;
	overflow: hidden;
	background: #f7f7f7;
	@include border-radius(5px);
	border: 1px solid #b7b7b7;
	
	@media screen and (min-width: 50em){
		margin: 0;
		position: absolute;
		left: 50%;
		margin-left: 17%;
		top: 50%;
		margin-top: -160px;
		max-width: 325px;
		width: 40%;
		z-index: 100;
	}

	@media screen and (min-width: 50em) and (max-width: 62em){
		margin-left: 1%;
	}	
	
	#tabs_content_container{
		padding: 40px 20px 20px;
	}
	#tabs{
		border: none;
		overflow: hidden;
		li{
			width: 49.3%;
			background-color: #eeeeee;
			@include inline-block();

			&.active{
				background-color: #f7f7f7;
				a{
					color: #33cccc;
				}
			}

			a{
				display: block;
				color: #c7c7c7;
				font-size: 17px;
				font-weight: 600;
				border: none;
				padding: 17px 10px;
			}
		}
	}
}
.f-srcbox{
	.form-control{
		margin-bottom: 25px;
	}
	.btn-turquoise-flat{
		display: block;
	}
}

.post-itemwrap{
	text-align: center;
}
.post-item{
	width: 215px;
	overflow: hidden;
	@include border-radius(6px);
	@include inline-block();
	background-color: white;
	border: 1px solid #cccdcd;
	margin: 0 15px 45px;

	figure{
		text-align: center;
		position: relative;

		figcaption{
			color: white;
			position: absolute;
			width: 100%;
			bottom: 0;
			padding: 5px 10px;
			font-size: 0.8em;
			background-color: rgba(0, 0, 0, 0.4);
			text-align: left;
		}
	}
}

.rank-area{
padding: 10px 13px;
text-align: center;
ul{
	li{
		@include inline-block();
		color: #aaaaaa;
		margin: 0 12%;
		font-size: 11px;
		text-align: center;
		.rank-icon{
			display: block;
			font-size: 1em;
			border: 1px solid #aaaaaa;
			@include border-radius(100%);
			width: 25px;
		    height: 24px;
		    line-height: 21px;
		}
	}
}
}

.post-button{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.f-comment{
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;

	.btn-turquoise{
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

/** CATEGORY HOME
===================================*/
.category-home{
	text-align: center;
	padding: 60px 0 20px;
	background-color: white;
	@include clearfix();
	@media screen and (min-width: 48em){
		.title-md{
			margin-bottom: 2em;
		}
	}
}
.category-home__item{
	@include inline-block();
	margin: 0 13px 40px 13px;
	padding: 18px;
	width: 43%;
	vertical-align: top;
	@include prefixed(transition, all 0.3s linear);
	@include border-radius(3px);
	&:hover{
		background-color: #f2f2f2;	
		-webkit-box-shadow: inset 0px 0px 7px -1px #e3e3e3;
		-moz-box-shadow: inset 0px 0px 7px -1px #e3e3e3;
		box-shadow: inset 0px 0px 7px -1px #e3e3e3; 
	}

	@media screen and (min-width: 48em){
		width: 22%;

	}
	


	figure{
		text-align: center;
		margin-bottom: 15px;
	}

	.content-text{
		color: #4d4d4d;
		h5{
			margin: 0;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}

	.readmore{
		color: #4d4d4d;
		@include inline-block();
		text-align: center;
		font-size: 0.9em;
		font-style: italic;

		&:hover{
			color: #4ad1d1;
			text-decoration: none;
			text-decoration: underline;
		}
	}
}

/** VIDEHOME
===================================*/
.videohome {
	position: relative;
	z-index: 1;
	padding: 7.8% 0;
	background: url('../img/video_thumb.jpg') center top no-repeat;
	@include background-size(cover);
	text-align: center;
	a{
		color: white;
		text-decoration: none;
		@include prefixed(transition, all 0.3s linear);
		&:hover, &:focus, &:active{
			color: rgb(158, 158, 158);

			.fa{
				border-color: rgb(158, 158, 158);
			}
		}
	}
	.fa{
		font-size: 2em;
		@include square(62px);
		line-height: 59px;
		@include border-radius(100%);
		border: 2px solid white;
		margin-bottom: 15px;
	}
	.vidhome-desc{
		font-size: 28px;
		line-height: 1.2em;
	}

	&:before{
		content: '';
		background-color: rgba(#000000, 0.7);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		
	}
	
}

/** GALLERIES NAV
===================================*/
.galleries-nav{
	background-color: white;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	padding: 15px 0;
	@include clearfix();

	> ul{
		> li{
			@include inline-block();
			margin: 0 15px;
		}
	}
}
/** GALLERIES MAIN
===================================*/
.galleries-main{
	text-align: center;
	@include clearfix();
	padding: 50px 0 10px;
}