/** MAIN NAV
===================================*/
  .nav{
    display: none;
    text-align: center;  
    
    @media screen and (min-width: 62em) {
      display: block;
      float: left;
      padding-top: 30px;
    }

    ul {
       zoom:1;
       width: 100%;
       /*height:51px;*/
       list-style:none;
       margin:0;
       padding:0;

        li{
             @include inline-block();
            a {
                padding: 8px 18px;
                display: block;
                font-weight: 400;
                font-size: 18px;
                color: #333333;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;

                @media screen and (min-width: 800px) and (max-width: 1200px){
                  padding-right: 10px;
                  padding-left: 10px;
                }
              }

              &:hover > a {
                color: $base-color;
                text-decoration: none;
              }

              ul {
                height:auto;
                border:0;
                position:absolute;
                max-width: 250px;
                z-index:80;
                display:none;
                margin:0;
                padding:0;
                background: $base-color;

                  a  {
                      padding: 10px;
                      _height: 10px; /*IE6 only*/
                      display: block;
                      float: none;
                      text-transform: none;
                      font-size: 0.9em;
                      color: white;

                      &:hover {
                          background-color: darken($base-color, 5%);
                          color:#fff;
                        }
                    }
              } 

              li {
                float: none;
                display: block;
                border: 0;
                border-bottom:1px solid darken($base-color, 1%);;
                text-align: left;

                &:last-child {
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                  }
              }
          } 
      }
  }

  /*====== HUMBERBER BUTTON ======*/
  .btn-rwd-sidebar{
    display: block;
    margin-top: 0;
    float: right;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #50555a;
    color: white;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    @media screen and (min-width: 62em){
      display: none;
    }
  }

/*====== RESPONSIVE MENU ======*/

.close-sidebar{
  text-align: right;
}
.nav-rwd-sidebar{
  width: 60%;
  z-index: 999;
  background-color: #50555a;
  position: fixed;
  height: 100%;
  transition: all 500ms ease;
  padding: 15px 0 30px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  @media (min-width: 55em) {
      width: 60%;
  }
  .nav-sidebar{
    margin-top: 50px;
  }
  ul{
    list-style: none outside none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    li{
      a, span{
        // font-family: $roboto;
        font-size: 13px;
        text-transform: capitalize;
        padding: 8px 15px;
        display: block;
        font-weight: 600;
      }
      a{
        &:hover,
        &:focus{
          color: white;
          background-color: #313131;
          text-decoration: none;
        }
      }
    }
  }
}

.nav-rwd-sidebar{
   margin-left: -60%;
  .btn-hide{
    margin-left: 30px;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    @include inline-block();
    text-align: center;
    line-height: 42px;
    background-color: #313131;
    color: white;
    box-shadow: inset 0 0 0 2px #313131;

    &:hover,
    &:focus{
      background-color: transparent;
      color: #c1c1c1;
    }
  }
  &.sidebar-active{
    margin-left: 0;
  }
  ul{
    li{
      a, span{
        padding-left: 30px;
        color: white;
      }
      &:hover,
      &:focus{
        a{
          color: #f1f1f1;
        }
      }
    }
  }
}
