//COMPASS
@import "compass";
@import "compass/css3";
@import "compass/css3/images";

//MODULES
@import "modules/variables";
@import "modules/mixins";

//VENDOR BOOTSTRAP
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
/** MAIN
===================================*/

/** APPLY TENDER
===================================*/
.side-avatar{
	@include make-md-column(2);
	figure{
		max-width: 80px;
	}
	@media screen and(max-width: 62em){
		text-align: center;
		figure{
			margin: 0 auto 15px;
		}
	}
}
.tenderdesc{
	overflow: hidden;
	@media screen and (max-width: 62em){
		.header-post{
			text-align: center;
		}
	}
}

.header-post{
	overflow: hidden;
	margin-bottom: 20px;
	.tile-sm, .title-smm {
		margin-bottom: 5px;
	}

	.meta-title{
		font-size: 0.9em;
		color: #898989;
	}
	.rank-area{
		li{
			@include inline-block();
			margin: 0;
			margin: 0 8px;
		}
	}
	@media screen and (min-width: 60em){
		.rank-area{
			text-align: right;
		}
		.left{
			float: left
		}
		.right{
			overflow: hidden;
		}
	}
}

/** Tender detail
===================================*/
.tender-detail{
	margin-bottom: 30px;
	ul{
		li{
			margin-bottom: 8px;
			padding-bottom: 8px;
			border-bottom :1px solid #cccccc;
			display: block;

			@media screen and (min-width: 50em){
				@include inline-block();
				margin-right: 20px;
				border: none;
				&:last-child{
					margin-right: 0;
				}
			}

			.fa{
				margin-right: 6px;
			}
		}
	}	
}

/** DETAIL IKLAN
===================================*/
.comments-item{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 10px;
	margin-bottom: 15px;
	&:last-child{
		border-bottom: 0;
	}
	figure{
		max-width: 75px;
		margin-bottom: 15px;
		@include border-radius(100%);
		border:1px solid $base-color;
		overflow: hidden;
		img{
			@include border-radius(100%);
		}
		@media screen and (min-width: 50em){
			float: left;
			margin-right: 25px;
		}
	}

	.desc{
		overflow: hidden;
	}
	header{
		margin-bottom: 12px;
		h3{
			@include inline-block();
			margin: 0;
			font-size: 15px;
			font-family: 'Roboto', sans-serif;
			font-weight: 700;
			color: #333333;
			margin-right: 6px;
		}
		span{
			font-size: 0.9em;
			color: #535353;
		}
	}

	.other-comments{
		text-align: center;
		display: block;
	}
}